html, body, main {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-color: #EAE1CF;
  font-family: 'Inconsolata', Helvetica, Arial, sans-serif;
  font-size: 15px;
}

main {
  position: relative;
  width: 100%;
}

.column {
  position: relative;
  float: left;
  width: 50%;
  height: 100%;
  display: flex;
}

#header {
  background-color: #242424;
  color: #F7F4EE;
  text-align: center;
  justify-content: center;
}

#projects {
  background-color: #F7F4EE;
  color: #242424;
}

.wrapper {
  padding: 0 30px 20% 30px;
  align-self: center;
}

.center {
  text-align: center;
}

svg {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 100px;
  box-sizing: border-box;
}

h1, h2, h3 {
  display: inline-block;
  padding: 15px;
  font-family: 'Space Mono', Courier, monospace;
}

h1, h2 {
  border: thin dashed #8D0C0C;
}

h1 {
  color: #EAE1CF;
  font-size: 25px;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 20px;
  border-bottom: thin dashed #8D0C0C;
}

a {
  font-weight: bold;
  text-decoration: none;
  color: #8D0C0C;
}

a:hover {
  color: #EAE1CF;
}

p {
  padding-bottom: 1em;
}

p.poem {
  padding-bottom: 0em;  
  padding-left: 2em;
  opacity: 80%;
  border: medium double #8D0C0C;
  border-right: 0px;
  border-top: 0px;
  border-bottom: 0px;
}

p.poets {
  padding-left: 3em;
  opacity: 80%;
  font-size: 80%;
}

@media screen and (max-width: 600px) {
  main {
    width: 96%;
    left: 2%;
  }
  .column {
    width: 100%;
    height: auto;
  }
  .wrapper {
    padding-top: 10%;
  }
  svg {
  width: 98%;
  }
}
